$primary-font: "Onest", sans-serif;
$heading-font: "Onest", sans-serif;

$black-color: #000000;
$white-color: #ffffff;
$red-color: #e3395d;
$blue-color: #0f75bd;
$purple-color: #885fa4;
$purple-color-light: #9d81b9;
$lightblue-color: #2d97c3;
$yellow-color: #fec953;
$green-color: #00875f;
$gray-color: #bcbdc0;
$gray-bg: #fafafc;
$darkgray-color: #808285;
$gray-text: #a5a6a8;
$text-color: #333333;
$footer-color: #fafafa;

$header-height: 5rem;
$mainScreenHeight: $header-height + 1rem;
$section-padding-top: 5rem;
$section-padding-top-resp: 3rem;
